@import "/src/css/reset.css";

:root {
    --body-font: "Raleway", sans-serif;
    --title-font: "Caprasimo", serif;
}

@font-face {
    font-family: titleFont;
    font-weight: 400;
    src: url(/src/fonts/Fields-Regular.woff2);
}

body {
    background-color: #f7eee1;
    background-image: linear-gradient(180deg, #f7eee1 0%, #f7eee1 30%, #834955 30%, #834955 100%);
    background-repeat: repeat-y;
    color: #504d48;
    font-family: var(--body-font);
    font-size: 16px;
    padding-bottom: 2rem;
}
    @media screen and (min-width: 48rem) {
        body {
            height: 100vh;
        }
    }

* {
    box-sizing: border-box;
}

.avatar {
    border-radius: 100%;
    height: 200px;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -100px;
    width: 200px;

    & img {
        display: block;
        max-width: 100%;
    }
}

.name {
    color: #F56348;
    font-family: titleFont;
    font-size: 2.5rem;
    text-align: center;
}

.title {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.card {
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 10rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding-top: 8rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 2.5rem;
    position: relative;
}
    @media screen and (min-width: 48rem) {
        .card {
            margin-right: auto;
            margin-left: auto;
            width: 25rem;
        }
    }

.button {
    border-radius: 2rem;
    display: block;
    font-size: 1.2rem;
    padding: .8rem;
    text-align: center;
    text-decoration: none;

    &:not(:last-of-type) {
        margin-bottom: 1.5rem;
    }
}

.cta-button {
    background-color: #F56348;
    box-shadow: 2px 3px 0 0 #ce503a;
    color: #fff;
    font-family: titleFont;
    font-weight: 600;

    &:hover {
        background-color: #ed5a40;
    }

    &:focus {
        background-color: #ce503a;
    }

    &:active {
        background-color: #ce503a;
    }
}

.secondary-button {
    background-color: #834955;
    color: #fff;
    font-family: titleFont;

    &:hover {
        background-color: #44736f;
    }

    &:focus {
        background-color: #365d59;
    }

    &:active {
        background-color: #834955;
    }
}

.socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.icon-button {
    color: #834955;
    font-size: 1.7rem;
    text-decoration: none;

    &:hover {
        color: #44736f;
    }

    &:focus {
        color: #365d59;
    }
}