@import "/src/css/reset.css";

body {
    background-color: #473963;
    color: #fc935b;
    font-family: "Arbutus Slab", serif;
    font-size: 16px;
    padding: 2rem;
}
    @media screen and (min-width: 48rem) {
        body {
            height: 100vh;
        }
    }

* {
    box-sizing: border-box;
}

.avatar {
    border-radius: 100%;
    height: 130px;
    margin: 0 auto;
    overflow: hidden;
    width: 130px;

    & img {
        display: block;
        max-width: 100%;
    }
}

.name {
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 1.5rem;
    text-align: center;
}

.title {
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: .8rem;
    text-align: center;
}

.section-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}

main {
    margin: 0 auto;
    max-width: 580px;
}

section {
    margin-bottom: 3rem;
}

.button {
    background-color: #ffbd9b;
    border-radius: 2rem;
    box-shadow: 2px 3px 0 0 #c18361;
    color: #2d1f48;
    display: block;
    font-size: 1.2rem;
    padding: 1rem .8rem;
    text-align: center;
    text-decoration: none;

    &:not(:last-of-type) {
        margin-bottom: 1.5rem;
    }

    &:hover {
        background-color: #b66971;
    }

    &:focus {
        background-color: #a95e66;
    }

    &:active {
        background-color: #a95e66;
    }
}

.socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.icon-button {
    color: #fc935b;
    font-size: 1.7rem;
    text-decoration: none;

    &:hover {
        color: #ffa473;
    }

    &:focus {
        color: #ed8147;
    }
}